<h1 class="mt-4">Medicamentos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Listagem</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{ mensagemSucesso }}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{ mensagemErro }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="novoCadastro()">
                <i class="fa fa-plus"></i> Novo
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-codensed table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let medicamento of medicamentos">
                        <td>{{ medicamento.id }}</td>
                        <td>{{ medicamento.nome }}</td>
                        <td>
                            <button class="btn btn-primary" routerLink="/medicamentos-form/{{ medicamento.id }}">
                                <i class="fa fa-pen-square"></i>
                            </button>
                            <button class="btn btn-danger ml-2" data-toggle="modal"
                                data-target="#modalDelecao" (click)="preparaDelecao(medicamento)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><strong>Confirmação</strong></h4>
                </div>
                <div class="modal-body" *ngIf="medicamentoSelecionado">
                    Deseja excluir o medicamento {{ medicamentoSelecionado.nome }}?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarMedicamento()" data-dismiss="modal">Sim</button>
                    <button class="btn btn-default" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>
</div>
